.btnContainer {

    display: flex;
    align-items: center;
}

.btnContainer button {
    border: 2px solid black;
    border-radius: 40%;
    background-color: transparent;
    text-align: center;
    display: flex;
    padding: 5px 5px 5px;
}