.btnContainer {

    /* display: flex;
    align-items: center; */
}

.btnContainer button {
    border: 2px solid black;
    border-radius: 30px;
    background-color: transparent;
    padding: 5px 15px;
    font-size: 1rem;
}

.icon {
    vertical-align: middle;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
}