.navbar {
    display: flex;
    background-color: var(--main-pink);
    justify-content: center;
    -webkit-box-shadow: inset 0px -16px 10px -5px rgba(166, 58, 152, 0.69);
    -moz-box-shadow: inset 0px -16px 10px -5px rgba(166, 58, 152, 0.69);
    box-shadow: inset 0px -16px 10px -5px rgba(166, 58, 152, 0.69);
    min-height: 65px;


}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1232px;
    padding: 0 1rem;

}

.navcontainer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 3.125rem;
}

.navcontainer ul li {
    line-height: normal;
    text-align: center;
}

.navcontainer img {
    height: 3.5rem;
    padding: 3px;
}



.navcontainer select {
    height: 30px;
}